.cart-container {
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    padding: 10px;
    margin: 10px;
    width: 20%;
}
.cart-info {
    align-self: center;
}

.cart-title {
    font-size: 36px;
    margin-bottom: 8px;
}

.prod-detail {
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px
}

.cart-prod-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}